<!DOCTYPE html>
<html>
  <head>
    <title>API Text Display</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #333;
        color: #fff;
      }
      .container {
        margin: 0 auto;
        width: 80%;
      }
      h1, h2 {
        color: #ddd;
      }
      p {
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #333;
        background-color: #f2f2f2;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.5s ease;
        position: relative;
        cursor: pointer;
      }
      span.copied {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.2s ease;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Texts from API:</h1>
      <% for(let key in texts) { %>
        <h2><%= key %></h2>
        <p data-message="<%= texts[key] %>" onclick="copyToClipboard(event)">
          <span class="copied">Copied!</span>
          <%= texts[key] %>
        </p>
      <% } %>
    </div>
    <script>
      function copyToClipboard(event) {
        let textElement = event.target.tagName === 'P' ? event.target : event.target.parentElement;
        let text = textElement.dataset.message; // Get the message from the data attribute

        // Create a temporary textarea and copy the text to it
        let textarea = document.createElement('textarea');
        textarea.value = text;
        document.body.appendChild(textarea);
        textarea.select();
        
        let copied = false;
        try {
          copied = document.execCommand('copy');
        } catch (err) {
          console.error('Failed to copy text: ' + err);
        }
        
        // Remove the temporary textarea
        document.body.removeChild(textarea);
        
        if (copied) {
          flashColor(textElement, "#008000");
        } else {
          flashColor(textElement, "#B22222");
        }
      }

      function flashColor(element, color) {
        let originalColor = element.style.backgroundColor;
        let copiedElement = element.querySelector('.copied');
        element.style.backgroundColor = color;
        copiedElement.style.opacity = 1;
        setTimeout(() => {
          element.style.backgroundColor = originalColor;
          copiedElement.style.opacity = 0;
        }, 1000);
      }
    </script>
  </body>
</html>
